.tableContainer {
  border: 1px solid rgba(255, 255, 255, 0.28);
  .topSection {
    padding: 34px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.28);
    & > div:first-child {
      font: 400 22px/27px "Inter";
      letter-spacing: 0.03em;
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-spacing: 0;

    th, td {
      padding: 24px;
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background: rgba(119, 118, 199, 0.31);
        }
      }
    }
  }
}

.participantContainer {
  display: flex;
  align-items: center;
  .image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
  .participantName {
    margin-left: 14px;
    font: 400 18px/22px "Inter";
    color: rgba(255, 255, 255, 0.93);
  }
}