.connect {
  height: 36px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(93.68deg, #FF0000 0%, #F4F91C 29.17%, #27F492 66.67%, #AD00FE 100%);
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(93.68deg, #FF0000 0%, #F4F91C 29.17%, #27F492 66.67%, #AD00FE 100%);
    box-shadow: 0 2px 6px rgba(black, 0.5);
  }
  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(93.68deg, #FF0000 0%, #F4F91C 29.17%, #27F492 66.67%, #AD00FE 100%) !important;
    box-shadow: none;
  }
}